.main {
  display: flex;
  flex-direction: column;
  width: 250px;
  left: 0;
  background: var(--chatgpt-bg);
  padding: 1rem;
  z-index: 1;
  transition: width .3s, left .3s;
}

@media (max-width: 600px) {
  /* 其他页面侧边栏隐藏 */
  .close {
    position: absolute;
    left: -250px;
    height: 100%;
  }
  /* 首页时侧边栏全宽 */
  .full {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.btn {
  display: flex;
  justify-content: center;
  gap: .5rem;
  border-radius: 10px;
  padding: .5rem;
  background: var(--accent1);
  transition: background .2s ease;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn:hover {
  background: var(--accent2);
}

.list {
  flex: 1;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  overflow-y: auto;
}

.item {
  display: flex;
  padding: 10px 14px;
  background: var(--accent1);
  border-radius: 10px;
  border: 2px solid transparent;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);
  transition: background .2s ease;
}

.item:hover {
  background: var(--accent2);
}

.itemTitle {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemShare {
  color: var(--warn);
}

.loading {
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);
  background: linear-gradient(100deg, var(--accent1) 8%, var(--accent2) 18%, var(--accent1) 33%);
  background-size: 200%;
  background-position-x: 180%;
  height: 44px;
}

.active {
  border-color: #1d93ab;
}

.footer {
  display: flex;
  justify-content: space-between;
}